.products-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  user-select: none;
  flex-wrap: wrap;
  list-style: none;
  gap: 8%;
}

.product-card {
  position: relative;
  width: 350px;
  height: 700px;
  margin-top: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-img {
  width: 350px;
  height: auto;
  object-fit: cover;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.product-description {
  font-size: 16px;
  margin-top: 5px;
  color: #555;
}

.product-price {
  position: absolute;
  bottom: 55px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  color: #007bff;
}

.product-add-btn {
  display: block;
  cursor: pointer;
  text-align: center;
  background: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;
  margin-top: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}